/*样式初始化*/

body {
	margin: 0;
	padding: 0;
	background: #fff;
	font-size: 14px;
	font-family: Arial, Helvetica, 'STHeiti', 'Microsoft YaHei', 'sans-serif'
}

form,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

ul,
li {
	list-style-type: none;
}

a {
	color: #a8a8a8;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


/*导航栏*/

nav {
	width: 100%;
	height: 32px;
	background: #1b1b1b;
	padding: 18px 0;
	border-bottom: 2px solid #6f6f6f;
}

#title {
	padding-left: 10px;
	width: 1124px;
	margin: 0 auto;
}

#logo {
	float: left;
}

#nav {
	float: right;
	width: 610px;
	margin-right: 20px;
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-size: 1.2em;
	flex-wrap: nowrap;
	line-height: 32px;
}

#nav li:hover {
	border-radius: 10px;
	border: 1px solid #7b7b7b;
	text-align: center;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

#nav li:hover a {
	color: #fff;
}

#nav li:nth-child(4) {
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid #7b7b7b;
	text-align: center;
	line-height: 30px;
}

#nav li:nth-child(4) a {
	color: #fff;
}

#list {
	float: right;
	margin-right: 40px;
	display: none;
}

@media screen and (max-width:1124px) {
	#title {
		width: 100%;
	}
}

@media screen and (max-width:850px) {
	#nav {
		display: none;
	}
	#list {
		display: block;
	}
}


/*图片展示*/

#content {
	position: relative;
	width: 100%;
	height: 580px;
	background: #1b1b1b;
}

#content_pic {
	width: 1128px;
	margin: 0 auto;
}

#content_pic img {
	width: 100%;
}

#content_slider {
	position: absolute;
	bottom: 0;
	height: 60px;
	width: 100%;
	background: #000;
	opacity: .5;
	text-align: center;
	line-height: 60px;
	font-size: 1.7em;
	color: #fff;
}

#play {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 52px;
	height: 52px;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

#photo {
	width: 1128px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}

#photo ul {
	width: 31.5%;
}

#photo ul li {
	margin-bottom: 10px;
	width: 100%;
}

#photo p {
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 1.2em;
	color: #909090;
}

#photo div {
	position: relative;
	width: 100%;
}

.pic {
	width: 100%;
}

.play_b,
.play_h {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.play_b {
	display: none;
}

#photo div:hover .play_b {
	display: block;
}

#photo div:hover .play_h {
	display: none;
}

@media screen and (max-width:1128px) {
	#photo {
		width: 100%;
	}
	#content_pic {
		width: 100%;
	}
	#content {
		height: 100%;
	}
}

@media screen and (max-width:860px) {
	#photo p {
		font-size: .9em;
	}
	#content_slider {
		font-size: 1.2em;
	}
}


/*底部*/

footer {
	padding-top: 56px;
}

#foot_top {
	width: 40px;
	margin: 0 auto;
}

#foot_bottom {
	width: 132px;
	margin: 0 auto;
}

footer p {
	text-align: center;
}

footer img {
	padding: 4px;
}

.foot_h {
	display: none;
}

#foot_top:hover .foot_p {
	display: none;
}

#foot_top:hover .foot_h {
	display: block;
}

#foot_bottom {
	overflow: hidden;
}

#foot_bottom li {
	float: left;
}

#foot_bottom li:hover .foot_p {
	display: none;
}

#foot_bottom li:hover .foot_h {
	display: inline-block;
}